*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Start utilities */
:root{
    --d-text: 'gg sans normal', sans-serif;
    --d-text-size: 1rem;
    --d-title: 'gg sans', sans-serif;
    --d-title-size: 3rem;
    --d-subtitle: 'gg sans', sans-serif;
    --d-subtitle-size: 3rem;
    --d-cta: 'gg sans medium', sans-serif;
    --d-cta-size: 1.1rem;
    --d-light: white;
    --d-primary: #3160e1;
    --d-dark: #22272b;
    --d-secondary: #8fa1e0;
    --d-color-text-footer: #7388da;
    --d-text-footer: 0.7rem;
}

.container{
    width: 1170px;
    margin: auto;
}

.flex{
    display: flex;
}

.col-2{
    width: calc(100% /12 * 2);
}

.col-3{
    width: calc(100% /12 * 3);
}

.col-4{
    width: calc(100% /12 * 4);
}

.col-8{
    width: calc(100% /12 * 8);
}

.button{
    text-decoration: none;
    padding: .7rem 1.2rem;
    border-radius: 2rem;
    font-family: var(--d-cta);
    font-size: var(--d-cta-size);
}

.button-s{
    text-decoration: none;
    padding: .2rem .7rem;
    border-radius: 1rem;
    font-family: var(--d-text);
    font-size: var(--d-text-size);
}

.bt-light{
    background-color: var(--d-light);
    color: var(--d-dark);
}

.bt-dark{
    background-color: var(--d-dark);
    color: var(--d-light);
}

.bt-secondary{
    background-color: var(--d-secondary);
    color: var(--d-light);
}

h1{
    color: var(--d-light);
    font-family: var(--d-title);
    font-size: var(--d-title-size);
    margin-bottom: 1.8rem;
}

h3{
    font-family: var(--d-subtitle);
    font-size: var(--d-subtitle-size);
    color: var(--d-dark);
    line-height: 3rem;
    margin-bottom: 2rem;
    margin-top: 2.5rem;
}

.mid-text{
    font-family: var(--d-subtitle);
    font-size: 2rem;
}
/* End utilities */

/* Start Header */
header{
    background-color: var(--d-primary);
}

header .container{
    align-items: center;
    padding: 1.5rem 0;
}

.logo img{
    width: 7.6rem;
}

.menu{
    text-align: center;
    font-family: var(--d-text);
}

.menu a{
    text-decoration: none;
    color: var(--d-light);
    margin: 0 1.5rem;
}

.login{
    text-align: right;
}
/* End Header */


/* Start Jumbotron */
.jumbotron{
    background-image: url('/assets/img/jumbo.png');
    background-size: cover;
    padding-top: 6rem;
    height: 500px;
}

.intro{
    width: 45%;
    margin: auto;
    text-align: center;
}

.intro p{
    color: var(--d-light);
    font-family: var(--d-text);
    font-size: var(--d-text-size);
    line-height: 1.8rem;
}

.jumbotron-button{
    margin-top: 2rem;
}

.jumbotron-button a{
    margin: 0 1rem;
}
/* End Jumbotron */

/* Start Main */
.image-item{
    width: 75%;
}

.dark-section .col-8 .card{
    text-align: right;
}
.card p{
    font-family: var(--d-text);
    font-size: var(--d-text-size);
    color: var(--d-dark);
}

.wave{
    width: 100%;
    display: flex;
}

.wave-reverse{
    width: 100%;
    display: flex;
    transform: rotate(180deg);
}

.dark-section{
    background-color: #f7f6f7;
}

.dark-section, .light-section{
    padding: 6rem 0;
}

main section:last-of-type{
    text-align: center;
}

.ready{
    color: var(--d-dark);
    padding: 1rem;
    margin: 2rem 0;
    background-image: url('/assets/img/stars.svg');
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
}
/* End Main */

/* Start Footer */
footer{
    background-color: var(--d-dark);
    padding-top: 6rem;
    padding-bottom: 6rem;
}

.caption{
    color: var(--d-color-text-footer);
    margin-bottom: 1rem;
}

.flag{
    height: 1rem;
}

#subject{
    border: none;
    background-color: var(--d-dark);
    color: var(--d-light);
    font-family: var(--d-text);
    font-size: var(--d-text-size);
    vertical-align: bottom;
}

.social{
    margin-top: 1rem;
}

.social a{
    margin: 0 0.5rem;
    color: var(--d-light);
}

.social a:first-child{
    margin-left: 0;
}

.page-list{
    margin-top: 1rem;
    margin-right: 3rem;
}

.footer-page{
    text-decoration: none;
    color: var(--d-color-text-footer);
    font-family: var(--d-subtitle);
    font-size: var(--d-text);
}

.footer-element{
    text-decoration: none;
    color: var(--d-light);
    font-family: var(--d-text);
    font-size: var(--d-text);
}

.footer-end{
    align-items: center;
    justify-content: space-between;
    border-top: 1px solid var(--d-color-text-footer);
    margin-top: 2rem;
    padding-top: 2rem;
}
/* End Footer */