*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Start debug */
.debug .jumbotron{
    background-color: lightblue;
}

.debug .main-image{
    background-color: rgb(113, 154, 168);
    height: 300px;
}

.debug .light-section{
    background-color: lightgray;
}

.debug .dark-section{
    background-color: rgb(160, 160, 160);
}

.debug main .container{
    background-color: rgb(250, 205, 122);
    margin: 2rem auto;
}

.debug .row{
    background-color: rgb(248, 190, 83);
}

.debug .row>div{
    background-color: rgb(227, 162, 41);
}

.debug .card{
    background-color: rgb(187, 130, 24);
    height: 300px;
}

.debug footer{
    background-color: rgb(55, 112, 131);
}

.debug .footer-end{
    background-color: rgb(248, 190, 83);
}
.debug .footer-row>div{
    background-color: rgb(227, 162, 41);
}

.debug .link{
    background-color: rgb(187, 130, 24);
    height: 50px;
}
/* End debug */

/* Start utilities */
:root{
    --d-font: 'Open Sans', sans-serif;
    --d-light: white;
    --d-primary: #3160e1;
    --d-secondary: #22272b;
    --d-color-text-footer: #7388da;
    --d-color-button: #8fa1e0;
}

.container{
    max-width: 1170px;
    margin: auto;
}

.flex{
    display: flex;
}

.col-2{
    width: calc(100% /12 * 2);
}

.col-3{
    width: calc(100% /12 * 3);
}

.col-4{
    width: calc(100% /12 * 4);
}

.col-8{
    width: calc(100% /12 * 8);
}
/* End utilities */

/* Start Header */
header{
    background-color: var(--d-primary);
}

header .container{
    align-items: center;
    padding: 1.5rem 0;
    font-family: var(--d-font);
}

.logo img{
    width: 122px;
}

.menu{
    text-align: center;
}

.menu a{
    text-decoration: none;
    color: var(--d-light);
    margin: 0 1.5rem;
}

.login{
    text-align: right;
}

.login a{
    text-decoration: none;
    color: var(--d-secondary);
    background-color: var(--d-light);
    padding: 0.5rem 1rem;
    border-radius: 2rem;
}
/* End Header */


/* Start Jumbotron */
.main-image{
    width: 50%;
    margin: 2rem auto;
}
/* End Jumbotron */

/* Start Main */
main .container{
    margin: 2rem auto;
}

.row{
    margin: 2rem auto;
}

.row>div{
    margin: 2rem auto;
}

.card{
    margin: 1rem;
}
/* End Main */

/* Start Footer */
.footer-end{
    align-items: center;
    justify-content: space-between;
}

.link{
    margin: 1rem;
}
/* End Footer */